* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

html, body {
    background-color: rgb(84, 44, 44);
    color: whitesmoke;
    height: 100vh;
    width: 100%;
}
header nav {
    background-color: rgb(174, 52, 73);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 2;
}
header nav h1 {
    border-bottom: 3px solid orange;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

form input[type="text"]{
    flex-grow: 1;
    margin-right:10px;
}
form input[type="text"], button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}
form button[type="submit"] {
    font-weight: 500;
    background-color: rgb(254, 169, 12);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover {
    background-color: rgb(228, 190, 35);
}

@media screen and (max-width:600px) {
    header nav {
        flex-direction: column;
    }
    header nav form {
        gap: 12px;
        width: 80%;
        margin-top: 20px;
    }
}

/*      Main - section            */

.recipe-container {
    text-align: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}

.recipe-content{
    background-color: rgb(215, 214, 214);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    color: rgb(194, 67, 88);
    box-shadow: 0 5px 10px rgb(143, 130, 130),  -5px -5px 10px rgb(143, 130, 130);
    cursor: pointer;
    max-width: 250px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
.recipe-content:hover{
    transform: scale(1.04);
    
} 
.recipe-content p {
    color: black;
    margin: 5px 0;
}
.recipe-content span {
    font-weight: 600;
}
.recipe-content h3 {
    margin-block: 5px;
}
.recipe-content img {
    border-radius: 5px;
    height: 200px;
}
.recipe-content button {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    background-color: rgb(244, 175, 48);
    color: white;
    border: none;
    cursor: pointer;
}
.recipe-content button:hover {
    background-color: rgb(205, 149, 6);
}

.recipe-detail-pop {  /* i want to display it fixed and in center*/
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(237, 174, 59);
    border-radius: 10px;
    width: 40%;
    height: 50%;
    font-size: 16px;
    padding: 10px;

    transition: all 0.5s ease-in-out;
    overflow-y: scroll;    
    -webkit-transform: translate(-50%, -50%);
}

/*  Adding scroll bar to reciepe datail pop up*/

.recipe-detail-pop::-webkit-scrollbar {
    width: 10px;
}
.recipe-detail-pop::-webkit-scrollbar-thumb {
    background-color: rgb(95, 2, 17, 0.5);
    border-radius: 12px;
    -webkit-border-radius: 12px;
}

.recipe-detail-content {
    padding: 20px 30px;
}

.recipe-head {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(218, 54, 81);
    margin-bottom: 16px;
}
#ingredientList {
    margin-bottom: 10px;
    margin-left: 20px;
}
.recipe-topic {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
    text-decoration: underline;

}
.recipe-instruction {
    line-height: 30px;
}

.close-pop-btn {
    border: none;
    background-color: rgb(123, 4, 24);
    padding: 3px;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 22px;
    right: 12px;
    cursor: pointer;
}
.close-pop-btn:hover {
    background-color: rgb(171, 67, 86);
}

/*  scroll bar on body tag      */

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb{  /* thumb is samller part*/
    background-color: rgb(177, 62, 62);
    border-radius: 5px;
}
body::-webkit-scrollbar-track {  /* track is whole length*/
    background-color: rgb(245, 202, 209, 0.4);
}